body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid{
  padding: 3% 15% 7%;}
.container{
    padding:0% 0%;

}
h1{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}
.navbar-brand{
  font-size: 3.5rem;
  font-family:  'Ubuntu', sans-serif;
  font-weight: bold;
}
h2{
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Montserrat";

  text-align: center;
}
h3{
  font-family:  "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.para{
    font-family:  "Montserrat", sans-serif;
    color: #8f8f8f;
}
.navbar{
  padding-bottom: 4.5rem;
  padding: 0 0 4.5rem;

}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat", serif;

}
.download_btn{
  margin: 5% 3% 5% 0;
}
.title_img{
  width: 22%;
  transform: rotate(25deg);
  position: absolute;





}
#features{
  padding: 7% 15%;
  background-color: #fff;
  z-index: 1;
  position: relative;
}
.features{
  text-align: center;
  padding:4.5%;
}
.icon{
  color: #ef8172;
margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
#testimonials{
  padding: 2% 10%;
  text-align: center;
  color: #fff;
  background-color:  #ff4c68;
}
.test-img{
  width: 10%;
  border-radius:100%;
  margin: 20px;
}
.carousel-item{
  padding: 0% 0%;

}
#press{
    background-color:#ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
#pricing{
  padding:100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
@media (max-width:1028px) {
  .title_img{
    position: relative;
    transform: rotate(0);
  width: 150px;
  align-items: center;

  }
  #title{
    text-align: center;
  }

}
#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 2% 10%;
  text-align: center;
}
.m{
  font-family:  "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social{
  margin:20px 10px;
}
